---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [59]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

pd.options.display.max_rows = 520

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [173]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

  col1 col2
1    w    a
2   10   30
0   20  NaN
  col1 col2
1    w    a
2    A   30
0    B  NaN

In [41]:
def get_list_of_university_towns():
    
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    #states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    #states = {y:x for x,y in states.items()}
    towns=open('university_towns.txt','r').read().split('\n')
    list_towns=[[]]
    state='';
    region='';
    
    for row in towns:
        if '[edit]' in row:
            state=row.replace('[edit]','')
        else :
            region=row.split('(')[0]
            list_towns.append([state,region])
    
    df_towns=pd.DataFrame(list_towns[1:-1],columns=['State', 'RegionName'])
    df_towns['State']=[x.rstrip() for x in df_towns['State']]
    df_towns['RegionName']=[x.rstrip() for x in df_towns['RegionName']]
#    df_towns=df_town.iloc[!df_towns['RegionName'] in ["The Colleges of Worcester Consortium", "The Five College Region of Western Massachusetts", "North Mankato, South Central College", "Cecil B. Moore, Philadelphia, also known as 'Templetown'"]]
#    df_towns['State'].replace(states,inplace=True)
    return df_towns

get_list_of_university_towns()

              State                                         RegionName
0           Alabama                                             Auburn
1           Alabama                                           Florence
2           Alabama                                       Jacksonville
3           Alabama                                         Livingston
4           Alabama                                         Montevallo
5           Alabama                                               Troy
6           Alabama                                         Tuscaloosa
7           Alabama                                           Tuskegee
8            Alaska                                          Fairbanks
9           Arizona                                          Flagstaff
10          Arizona                                              Tempe
11          Arizona                                             Tucson
12         Arkansas                                        Arkadelphia
13         Arkansas                                             Conway
14         Arkansas                                       Fayetteville
15         Arkansas                                          Jonesboro
16         Arkansas                                           Magnolia
17         Arkansas                                         Monticello
18         Arkansas                                       Russellville
19         Arkansas                                             Searcy
20       California                                             Angwin
21       California                                             Arcata
22       California                                           Berkeley
23       California                                              Chico
24       California                                          Claremont
25       California                                             Cotati
26       California                                              Davis
27       California                                             Irvine
28       California                                         Isla Vista
29       California                       University Park, Los Angeles
30       California                                             Merced
31       California                                             Orange
32       California                                          Palo Alto
33       California                                             Pomona
34       California                                           Redlands
35       California                                          Riverside
36       California                                         Sacramento
37       California                University District, San Bernardino
38       California                                          San Diego
39       California                                    San Luis Obispo
40       California                                      Santa Barbara
41       California                                         Santa Cruz
42       California                                            Turlock
43       California                              Westwood, Los Angeles
44       California                                           Whittier
45         Colorado                                            Alamosa
46         Colorado                                            Boulder
47         Colorado                                            Durango
48         Colorado                                       Fort Collins
49         Colorado                                             Golden
50         Colorado                                     Grand Junction
51         Colorado                                            Greeley
52         Colorado                                           Gunnison
53         Colorado                                   Pueblo, Colorado
54      Connecticut                                          Fairfield
55      Connecticut                                         Middletown
56      Connecticut                                        New Britain
57      Connecticut                                          New Haven
58      Connecticut                                         New London
59      Connecticut                                             Storrs
60      Connecticut                                        Willimantic
61         Delaware                                              Dover
62         Delaware                                             Newark
63          Florida                                          Ave Maria
64          Florida                                         Boca Raton
65          Florida                                       Coral Gables
66          Florida                                             DeLand
67          Florida                                             Estero
68          Florida                                        Gainesville
69          Florida                                            Orlando
70          Florida                                           Sarasota
71          Florida                                      St. Augustine
72          Florida                                            St. Leo
73          Florida                                        Tallahassee
74          Florida                                              Tampa
75          Georgia                                             Albany
76          Georgia                                             Athens
77          Georgia                                            Atlanta
78          Georgia                                         Carrollton
79          Georgia                                           Demorest
80          Georgia                                        Fort Valley
81          Georgia                                           Kennesaw
82          Georgia                                      Milledgeville
83          Georgia                                       Mount Vernon
84          Georgia                                             Oxford
85          Georgia                                               Rome
86          Georgia                                           Savannah
87          Georgia                                         Statesboro
88          Georgia                                           Valdosta
89          Georgia                                            Waleska
90          Georgia                                       Young Harris
91           Hawaii                                              Manoa
92            Idaho                                             Moscow
93            Idaho                                          Pocatello
94            Idaho                                            Rexburg
95         Illinois                                         Carbondale
96         Illinois                                   Champaignâ€“Urbana
97         Illinois                                         Charleston
98         Illinois                                             DeKalb
99         Illinois                                       Edwardsville
100        Illinois                                           Evanston
101        Illinois                                            Lebanon
102        Illinois                                             Macomb
103        Illinois                                             Normal
104        Illinois                                             Peoria
105         Indiana                                        Bloomington
106         Indiana                                     Crawfordsville
107         Indiana                                        Greencastle
108         Indiana                                            Hanover
109         Indiana                                             Marion
110         Indiana                                             Muncie
111         Indiana                                       Oakland City
112         Indiana                                           Richmond
113         Indiana                                         South Bend
114         Indiana                                        Terre Haute
115         Indiana                                             Upland
116         Indiana                                         Valparaiso
117         Indiana                                     West Lafayette
118            Iowa                                               Ames
119            Iowa                                        Cedar Falls
120            Iowa                                 Cedar Rapids, Iowa
121            Iowa                                            Decorah
122            Iowa                                            Fayette
123            Iowa                                           Grinnell
124            Iowa                                          Iowa City
125            Iowa                                             Lamoni
126            Iowa                                      Mount Vernon,
127            Iowa                                        Orange City
128            Iowa                                       Sioux Center
129            Iowa                                         Storm Lake
130            Iowa                                            Waverly
131          Kansas                                       Baldwin City
132          Kansas                                            Emporia
133          Kansas                                               Hays
134          Kansas                                           Lawrence
135          Kansas                                          Manhattan
136          Kansas                                          Pittsburg
137        Kentucky                                      Bowling Green
138        Kentucky                                           Columbia
139        Kentucky                                         Georgetown
140        Kentucky                                   Highland Heights
141        Kentucky                                          Lexington
142        Kentucky                                         Louisville
143        Kentucky                                           Morehead
144        Kentucky                                             Murray
145        Kentucky                                           Richmond
146        Kentucky                                       Williamsburg
147        Kentucky                                            Wilmore
148       Louisiana                                        Baton Rouge
149       Louisiana                                          Grambling
150       Louisiana                                            Hammond
151       Louisiana                                          Lafayette
152       Louisiana                                             Monroe
153       Louisiana                                       Natchitoches
154       Louisiana                                             Ruston
155       Louisiana                                          Thibodaux
156           Maine                                            Augusta
157           Maine                                         Bar Harbor
158           Maine                                          Brunswick
159           Maine                                         Farmington
160           Maine                                          Fort Kent
161           Maine                                             Gorham
162           Maine                                    Lewiston, Maine
163           Maine                                              Orono
164           Maine                                         Waterville
165        Maryland                                          Annapolis
166        Maryland                                        Chestertown
167        Maryland                                       College Park
168        Maryland                                         Cumberland
169        Maryland                                         Emmitsburg
170        Maryland                                          Frostburg
171        Maryland                                      Princess Anne
172        Maryland                                             Towson
173        Maryland                                          Salisbury
174        Maryland                                        Westminster
175   Massachusetts                                             Boston
176   Massachusetts                                        Bridgewater
177   Massachusetts                                          Cambridge
178   Massachusetts                                      Chestnut Hill
179   Massachusetts              The Colleges of Worcester Consortium:
180   Massachusetts                                             Dudley
181   Massachusetts                                      North Grafton
182   Massachusetts                                             Paxton
183   Massachusetts                                          Worcester
184   Massachusetts  The Five College Region of Western Massachusetts:
185   Massachusetts                                            Amherst
186   Massachusetts                                        Northampton
187   Massachusetts                                       South Hadley
188   Massachusetts                                          Fitchburg
189   Massachusetts                                        North Adams
190   Massachusetts                                        Springfield
191   Massachusetts                                            Waltham
192   Massachusetts                                       Williamstown
193   Massachusetts                                         Framingham
194        Michigan                                             Adrian
195        Michigan                                             Albion
196        Michigan                                          Allendale
197        Michigan                                               Alma
198        Michigan                                          Ann Arbor
199        Michigan                                    Berrien Springs
200        Michigan                                         Big Rapids
201        Michigan                                       East Lansing
202        Michigan                                              Flint
203        Michigan                                          Hillsdale
204        Michigan                                           Houghton
205        Michigan                                          Kalamazoo
206        Michigan                                          Marquette
207        Michigan                                            Midland
208        Michigan                                     Mount Pleasant
209        Michigan                                             Olivet
210        Michigan                                            Saginaw
211        Michigan                                   Sault Ste. Marie
212        Michigan                                       Spring Arbor
213        Michigan                                          Ypsilanti
214       Minnesota                                            Bemidji
215       Minnesota                                          Crookston
216       Minnesota                                             Duluth
217       Minnesota                   Faribault, South Central College
218       Minnesota                                            Mankato
219       Minnesota                                           Marshall
220       Minnesota                                           Moorhead
221       Minnesota                                             Morris
222       Minnesota                                         Northfield
223       Minnesota               North Mankato, South Central College
224       Minnesota                                          St. Cloud
225       Minnesota                                         St. Joseph
226       Minnesota                                          St. Peter
227       Minnesota                                             Winona
228     Mississippi                                          Cleveland
229     Mississippi                                        Hattiesburg
230     Mississippi                                          Itta Bena
231     Mississippi                                             Oxford
232     Mississippi                                         Starkville
233        Missouri                                            Bolivar
234        Missouri                                     Cape Girardeau
235        Missouri                                           Columbia
236        Missouri                                            Fayette
237        Missouri                                             Fulton
238        Missouri                                         Kirksville
239        Missouri                                          Maryville
240        Missouri                                              Rolla
241        Missouri                                        Warrensburg
242         Montana                                            Bozeman
243         Montana                                             Dillon
244         Montana                                           Missoula
245        Nebraska                                            Chadron
246        Nebraska                                              Crete
247        Nebraska                                            Kearney
248        Nebraska                                            Lincoln
249        Nebraska                                               Peru
250        Nebraska                                             Seward
251        Nebraska                                              Wayne
252          Nevada                                          Las Vegas
253          Nevada                                               Reno
254   New Hampshire                          New London, New Hampshire
255   New Hampshire                                             Durham
256   New Hampshire                                            Hanover
257   New Hampshire                                           Henniker
258   New Hampshire                                              Keene
259   New Hampshire                                           Plymouth
260   New Hampshire                                             Rindge
261      New Jersey                                              Ewing
262      New Jersey                                        Jersey City
263      New Jersey                                          Glassboro
264      New Jersey                                            Hoboken
265      New Jersey                                            Madison
266      New Jersey                                             Newark
267      New Jersey                                      New Brunswick
268      New Jersey                                          Princeton
269      New Jersey                                              Union
270      New Jersey                                   West Long Branch
271      New Mexico                                              Hobbs
272      New Mexico                                         Las Cruces
273      New Mexico                                          Las Vegas
274      New Mexico                                           Portales
275      New Mexico                                        Silver City
276        New York                                             Alfred
277        New York                                             Albany
278        New York                                             Aurora
279        New York                                         Binghamton

In [42]:
# Test for Q1
import re
# list of unique states
stateStr = """
Ohio, Kentucky, American Samoa, Nevada, Wyoming
,National, Alabama, Maryland, Alaska, Utah
,Oregon, Montana, Illinois, Tennessee, District of Columbia
,Vermont, Idaho, Arkansas, Maine, Washington
,Hawaii, Wisconsin, Michigan, Indiana, New Jersey
,Arizona, Guam, Mississippi, Puerto Rico, North Carolina
,Texas, South Dakota, Northern Mariana Islands, Iowa, Missouri
,Connecticut, West Virginia, South Carolina, Louisiana, Kansas
,New York, Nebraska, Oklahoma, Florida, California
,Colorado, Pennsylvania, Delaware, New Mexico, Rhode Island
,Minnesota, Virgin Islands, New Hampshire, Massachusetts, Georgia
,North Dakota, Virginia
"""
#list of regionName entries string length
regNmLenStr = """
06,08,12,10,10,04,10,08,09,09,05,06,11,06,12,09,08,10,12,06,
06,06,08,05,09,06,05,06,10,28,06,06,09,06,08,09,10,35,09,15,
13,10,07,21,08,07,07,07,12,06,14,07,08,16,09,10,11,09,10,06,
11,05,06,09,10,12,06,06,11,07,08,13,07,11,05,06,06,07,10,08,
11,08,13,12,06,04,08,10,08,07,12,05,06,09,07,10,16,10,06,12,
08,07,06,06,06,11,14,11,07,06,06,12,08,10,11,06,10,14,04,11,
18,07,07,08,09,06,13,11,12,10,07,12,07,04,08,09,09,13,08,10,
16,09,10,08,06,08,12,07,11,09,07,09,06,12,06,09,07,10,09,10,
09,06,15,05,10,09,11,12,10,10,09,13,06,09,11,06,11,09,13,37,
06,13,06,09,49,07,11,12,09,11,11,07,12,10,06,06,09,04,09,15,
10,12,05,09,08,09,09,07,14,06,07,16,12,09,07,09,06,32,07,08,
08,06,10,36,09,10,09,06,09,11,09,06,10,07,14,08,07,06,10,09,
05,11,07,06,08,07,05,07,07,04,06,05,09,04,25,06,07,08,05,08,
06,05,11,09,07,07,06,13,09,05,16,05,10,09,08,11,06,06,06,10,
09,07,06,07,10,05,08,07,06,08,06,30,09,07,06,11,07,12,08,09,
16,12,11,08,06,04,10,10,15,05,11,11,09,08,06,04,10,10,07,09,
11,08,26,07,13,05,11,03,08,07,06,05,08,13,10,08,08,08,07,07,
09,05,04,11,11,07,06,10,11,03,04,06,06,08,08,06,10,09,05,11,
07,09,06,12,13,09,10,11,08,07,07,08,09,10,08,10,08,56,07,12,
07,16,08,04,10,10,10,10,07,09,08,09,09,10,07,09,09,09,12,14,
10,29,19,07,11,12,13,13,09,10,12,12,12,08,10,07,10,07,07,08,
08,08,09,10,09,11,09,07,09,10,11,11,10,09,09,12,09,06,08,07,
12,09,07,07,06,06,08,06,15,08,06,06,10,10,10,07,05,10,07,11,
09,12,10,12,04,10,05,05,04,14,07,10,09,07,11,10,10,10,11,15,
09,14,12,09,09,07,12,04,10,10,06,10,07,28,06,10,08,09,10,10,
10,13,12,08,10,09,09,07,09,09,07,11,11,13,08,10,07
"""

df = get_list_of_university_towns()

cols = ["State", "RegionName"]

print('Shape test: ', "Passed" if df.shape ==
      (517, 2) else 'Failed')
print('Index test: ',
      "Passed" if df.index.tolist() == list(range(517))
      else 'Failed')

print('Column test: ',
      "Passed" if df.columns.tolist() == cols else 'Failed')
print('\\n test: ',
      "Failed" if any(df[cols[0]].str.contains(
          '\n')) or any(df[cols[1]].str.contains('\n'))
      else 'Passed')
print('Trailing whitespace test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\s+$')) or any(df[cols[1]].str.contains(
              '\s+$'))
      else 'Passed')
print('"(" test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\(')) or any(df[cols[1]].str.contains(
              '\('))
      else 'Passed')
print('"[" test:',
      "Failed" if any(df[cols[0]].str.contains(
          '\[')) or any(df[cols[1]].str.contains(
              '\]'))
      else 'Passed')

states_vlist = [st.strip() for st in stateStr.split(',')]

mismatchedStates = df[~df['State'].isin(
    states_vlist)].loc[:, 'State'].unique()
print('State test: ', "Passed" if len(
    mismatchedStates) == 0 else "Failed")
if len(mismatchedStates) > 0:
    print()
    print('The following states failed the equality test:')
    print()
    print('\n'.join(mismatchedStates))

df['expected_length'] = [int(s.strip())
                         for s in regNmLenStr.split(',')
                         if s.strip().isdigit()]
regDiff = df[df['RegionName'].str.len() != df['expected_length']].loc[
    :, ['RegionName', 'expected_length']]
regDiff['actual_length'] = regDiff['RegionName'].str.len()
print('RegionName test: ', "Passed" if len(regDiff) ==
      0 else ' \nMismatching regionNames\n {}'.format(regDiff))

Shape test:  Passed
Index test:  Passed
Column test:  Passed
\n test:  Passed
Trailing whitespace test: Passed
"(" test: Passed
"[" test: Passed
State test:  Passed
RegionName test:  Passed

In [43]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls')
    GDP=GDP.iloc[GDP.index[GDP.iloc[:,4]=='2001q1'][0]:,[-4,-2]]
    GDP.columns=['Quarterly','GDP in billions of chained 2009 dollars']
    
    recession=''
    start=-1
    for i in range(1,len(GDP)-1):
        if (start==-1) & (GDP.iloc[i-1,1]>GDP.iloc[i,1]>GDP.iloc[i+1,1]):
            start=GDP.iloc[i,0]
            #print(GDP.iloc[i-1,0])
        elif (start!=-1) & (GDP.iloc[i-1,1]<GDP.iloc[i,1]<GDP.iloc[i+1,1]):
            recession=start
            start=-1
    return recession
get_recession_start()

'2008q3'

In [56]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls')
    GDP=GDP.iloc[GDP.index[GDP.iloc[:,4]=='2000q1'][0]:,[-4,-2]]
    GDP.columns=['Quarterly','GDP in billions of chained 2009 dollars']
    #print(GDP)
    
    recession=''
    start=-1
    for i in range(1,len(GDP)-1):
        if (start==-1) & (GDP.iloc[i-1,1]>GDP.iloc[i,1]>GDP.iloc[i+1,1]):
            start=GDP.iloc[i-1,0]
        elif (start!=-1) & (GDP.iloc[i-1,1]<GDP.iloc[i,1]<GDP.iloc[i+1,1]):
            recession=GDP.iloc[i+1,0]
            start=-1
    return recession
get_recession_end()

'2009q4'

In [57]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    GDP=pd.read_excel('gdplev.xls')
    GDP=GDP.iloc[GDP.index[GDP.iloc[:,4]=='2000q1'][0]:,[-4,-2]]
    GDP.columns=['Quarterly','GDP in billions of chained 2009 dollars']
    #print(GDP)
    
    recession=''
    start=-1
    for i in range(1,len(GDP)-1):
        if (start==-1) & (GDP.iloc[i-1,1]>GDP.iloc[i,1]>GDP.iloc[i+1,1]):
            start=GDP.iloc[i-1,0]
        elif (start!=-1) & (GDP.iloc[i-1,1]<GDP.iloc[i,1]<GDP.iloc[i+1,1]):
            recession=GDP.iloc[i-1,0]
            start=-1
    return recession
get_recession_bottom()

'2009q2'

In [115]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    #pd.options.display.float_format = '${:,.2f}'.format
    #pd.options.display.float_format = '{:,.2f}'.format
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    price=pd.read_csv('City_Zhvi_AllHomes.csv')  
    #print(price.head())
    price.drop(price.columns[0],axis=1,inplace=True)
    start=price.columns.get_loc("2000-01")
    end=price.columns.get_loc("2016-08")
    
    for i in range(start, end,12):
        #print(i)
        if str(price.columns[i])[0:4] == '2016':
            price[str(price.columns[i])[0:4]+'q1']=price.iloc[:,i:i+3].mean(axis=1)
            #print(price.iloc[:,i:i+3].head(),price.iloc[:,i:i+3].mean(axis=1).head())
            price[str(price.columns[i])[0:4]+'q2']=price.iloc[:,i+3:i+6].mean(axis=1)
            #print(price.iloc[:,i+3:i+6].head(),price.iloc[:,i+3:i+6].mean(axis=1).head())
            price[str(price.columns[i])[0:4]+'q3']=price.iloc[:,i+6:i+8].mean(axis=1)
            #print(price.iloc[:,i+6:i+8].head(),price.iloc[:,i+6:i+8].mean(axis=1).head())
        else:
            price[str(price.columns[i])[0:4]+'q1']=price.iloc[:,i:i+3].mean(axis=1)
            #print(price.iloc[:,i:i+3].head(),price.iloc[:,i:i+3].mean(axis=1).head())
            price[str(price.columns[i])[0:4]+'q2']=price.iloc[:,i+3:i+6].mean(axis=1)
            price[str(price.columns[i])[0:4]+'q3']=price.iloc[:,i+6:i+9].mean(axis=1)
            price[str(price.columns[i])[0:4]+'q4']=price.iloc[:,i+9:i+12].mean(axis=1)
            #print(price.iloc[:,i+9:i+12].head(),price.iloc[:,i+9:i+12].mean(axis=1).head())
    price.drop(price.columns[2:end+1],axis=1,inplace=True)
    price.reset_index()
    price = price.replace({'State':states})
    price = price.set_index(['State', 'RegionName'])
    return price
convert_housing_data_to_quarters()
#convert_housing_data_to_quarters().loc["Texas"].loc["Austin"].loc["2010q3"]

                                                   2000q1       2000q2  \
State                RegionName
New York             New York                         nan          nan
California           Los Angeles               207,066.67   214,466.67
Illinois             Chicago                   138,400.00   143,633.33
Pennsylvania         Philadelphia               53,000.00    53,633.33
Arizona              Phoenix                   111,833.33   114,366.67
Nevada               Las Vegas                 132,600.00   134,366.67
California           San Diego                 222,900.00   234,366.67
Texas                Dallas                     84,466.67    83,866.67
California           San Jose                  374,266.67   406,566.67
Florida              Jacksonville               88,600.00    89,700.00
California           San Francisco             430,500.00   464,466.67
Texas                Austin                    142,966.67   145,266.67
Michigan             Detroit                    66,166.67    68,300.00
Ohio                 Columbus                   94,366.67    95,833.33
Tennessee            Memphis                    72,500.00    73,200.00
North Carolina       Charlotte                 126,933.33   128,366.67
Texas                El Paso                    76,266.67    76,866.67
Massachusetts        Boston                    206,933.33   219,166.67
Washington           Seattle                   248,600.00   255,600.00
Maryland             Baltimore                  59,666.67    59,500.00
Colorado             Denver                    162,233.33   167,833.33
District of Columbia Washington                137,766.67   144,200.00
Tennessee            Nashville                 113,833.33   115,266.67
Wisconsin            Milwaukee                  78,033.33    79,066.67
Arizona              Tucson                    101,833.33   102,966.67
Oregon               Portland                  152,800.00   154,766.67
Oklahoma             Oklahoma City              76,433.33    77,500.00
Nebraska             Omaha                     112,800.00   114,100.00
New Mexico           Albuquerque               125,866.67   126,700.00
California           Fresno                     94,100.00    95,266.67
                     Sacramento                122,433.33   126,000.00
Arizona              Mesa                      119,633.33   121,100.00
California           Long Beach                198,233.33   204,833.33
Missouri             Kansas City               120,233.33   124,300.00
Virginia             Virginia Beach            119,400.00   121,100.00
Colorado             Colorado Springs          145,266.67   148,066.67
Georgia              Atlanta                   143,566.67   147,966.67
Florida              Miami                     122,666.67   123,233.33
California           Oakland                   205,066.67   223,433.33
Oklahoma             Tulsa                      73,866.67    75,166.67
Ohio                 Cleveland                  67,466.67    67,933.33
Hawaii               Honolulu                  252,866.67   252,200.00
Minnesota            Minneapolis               117,366.67   122,333.33
Louisiana            New Orleans                      nan          nan
Texas                Arlington                 103,766.67   103,233.33
North Carolina       Raleigh                   149,333.33   150,700.00
Kansas               Wichita                    85,533.33    87,700.00
Florida              Tampa                      79,100.00    81,433.33
California           Anaheim                   213,833.33   223,000.00
                     Santa Ana                 180,033.33   186,833.33
Colorado             Aurora                    147,933.33   153,466.67
Missouri             Saint Louis                65,600.00    67,566.67
Pennsylvania         Pittsburgh                 57,433.33    58,033.33
California           Riverside                 137,166.67   139,666.67
Georgia              Marietta                  161,400.00   163,100.00
Alaska               Anchorage                 174,633.33   175,266.67
California           Bakersfield               105,966.67   107,533.33
Minnesota            Saint Paul                107,233.33   112,466.67
Ohio                 Toledo                     65,100.00    67,000.00
Maryland             Silver Spring             175,000.00   178,933.33
Kentucky             Lexington                 113,033.33   115,166.67
New Jersey           Newark                    124,466.67   127,700.00
Florida              Tallahassee               103,100.00   104,366.67
California           Stockton                  124,900.00   129,666.67
Texas                Plano                     164,400.00   162,700.00
Arizona              Chandler                  148,466.67   151,200.00
Kentucky             Louisville                 79,866.67    80,833.33
Nevada               Henderson                 156,166.67   158,400.00
California           Modesto                   120,833.33   124,333.33
Alabama              Mobile                     78,233.33    79,366.67
Texas                Lubbock                          nan          nan
Arizona              Glendale                  116,833.33   118,300.00
North Carolina       Durham                    129,300.00   132,533.33
Florida              Orlando                    88,666.67    90,366.67
Virginia             Norfolk                    82,833.33    82,966.67
Florida              Saint Petersburg           75,000.00    77,000.00
                     Pensacola                  84,100.00    83,766.67
Indiana              Fort Wayne                 85,266.67    85,600.00
North Carolina       Greensboro                104,933.33   106,900.00
Nebraska             Lincoln                   105,966.67   107,600.00
California           San Bernardino             91,033.33    93,166.67
                     Corona                    194,700.00   198,866.67
                     Chula Vista               211,733.33   219,500.00
Virginia             Chesapeake                121,200.00   122,733.33
Florida              Hialeah                    99,766.67   101,766.67
Wisconsin            Madison                   137,700.00   140,500.00
California           Fontana                   127,766.67   131,000.00
Florida              Fort Myers                102,766.67   104,000.00
Tennessee            Knoxville                  79,666.67    80,166.67
Texas                Laredo                     75,200.00    74,433.33
Nevada               North Las Vegas           130,600.00   131,300.00
Georgia              Lawrenceville             139,100.00   141,933.33
California           Fremont                   335,233.33   364,233.33
North Carolina       Fayetteville               86,000.00    85,100.00
Missouri             Springfield               102,000.00    99,566.67
Virginia             Arlington                 215,400.00   223,000.00
Texas                Irving                    100,533.33   100,566.67
Arizona              Gilbert                   157,500.00   160,366.67
                     Scottsdale                215,800.00   220,000.00
New York             Rochester                  53,566.67    53,233.33
North Carolina       Winston-Salem             100,233.33   101,566.67
California           Irvine                    326,966.67   336,966.67
Virginia             Richmond                   77,200.00    78,433.33
Florida              Boca Raton                148,766.67   152,700.00
California           Oxnard                    194,166.67   200,566.67
Florida              Bradenton                 112,966.67   115,433.33
California           Santa Rosa                244,100.00   258,000.00
Iowa                 Des Moines                 82,800.00    83,766.67
Nevada               Reno                      159,566.67   160,166.67
Washington           Spokane                    91,100.00    90,966.67
Georgia              Augusta                    69,666.67    70,333.33
Washington           Tacoma                    133,066.67   137,966.67
Michigan             Grand Rapids               86,266.67    88,300.00
California           Oceanside                 192,333.33   200,366.67
Florida              Gainesville                92,033.33    93,800.00
Virginia             Woodbridge                135,033.33   137,900.00
Florida              Ocala                      69,300.00    71,266.67
California           Glendale                  275,833.33   283,266.67
Idaho                Boise                     123,033.33   124,433.33
South Carolina       Greenville                 96,700.00    98,233.33
Alabama              Birmingham                 54,033.33    54,400.00
Utah                 Salt Lake City            154,200.00   154,700.00
California           Huntington Beach          303,266.67   315,666.67
Ohio                 Akron                      70,100.00    71,666.67
Illinois             Rockford                   79,766.67    79,700.00
California           Salinas                   214,533.33   228,300.00
Massachusetts        Worcester                 119,166.67   123,400.00
California           Moreno Valley             119,100.00   121,966.67
Arkansas             Little Rock                85,133.33    86,466.67
Florida              Port Saint Lucie           92,733.33    95,633.33
Texas                Brownsville                58,400.00    59,566.67
Rhode Island         Providence                 90,800.00    93,533.33
Texas                Amarillo                   66,000.00    67,633.33
California           Lancaster                 113,000.00   113,666.67
Colorado             Fort Collins              168,066.67   171,900.00
Louisiana            Shreveport                       nan          nan
Indiana              Evansville                 82,666.67    83,466.67
New York             Yonkers                   222,233.33   230,900.00
California           Hayward                   237,500.00   256,633.33
Florida              Fort Lauderdale           124,733.33   130,600.00
Tennessee            Chattanooga                79,933.33    80,466.67
Georgia              Columbus                         nan          nan
Illinois             Aurora                    132,900.00   134,566.67
California           Ontario                   135,466.67   138,766.67
Mississippi          Jackson                    52,966.67    50,500.00
Texas                Grand Prairie              99,533.33   100,000.00
California           Rancho Cucamonga          181,966.67   185,233.33
Kansas               Overland Park                    nan          nan
Virginia             Newport News               91,366.67    91,900.00
California           Garden Grove              203,700.00   212,066.67
Texas                Killeen                    87,366.67    89,900.00
Virginia             Roanoke                    92,533.33    92,533.33
Arizona              Tempe                     128,100.00   129,933.33
Washington           Vancouver                 134,166.67   137,166.67
Alabama              Huntsville                       nan          nan
California           El Cajon                  201,866.67   210,300.00
                     Palmdale                  122,200.00   124,000.00
Kansas               Topeka                           nan          nan
California           Elk Grove                 192,133.33   196,000.00
Colorado             Pueblo                     97,000.00    96,866.67
Virginia             Fredericksburg            127,666.67   129,666.67
Florida              Cape Coral                 97,566.67   100,366.67
Massachusetts        Springfield                77,733.33    80,066.67
Florida              Pembroke Pines            117,766.67   120,900.00
Tennessee            Murfreesboro              113,566.67   114,400.00
                     Clarksville                85,366.67    85,366.67
Illinois             Naperville                249,200.00   255,800.00
Arizona              Peoria                    137,600.00   139,800.00
Virginia             Fairfax                   219,700.00   227,666.67
California           Santa Clarita             224,433.33   228,266.67
                     Pomona                    131,400.00   135,133.33
Louisiana            Lafayette                  96,733.33    98,100.00
Kansas               Kansas City                51,700.00    52,966.67
Florida              Boynton Beach             117,533.33   120,800.00
New York             Syracuse                   56,800.00    57,866.67
Oregon               Salem                     125,266.67   127,366.67
Florida              Hollywood                  94,266.67    97,933.33
New Jersey           Paterson                  136,933.33   137,733.33
Colorado             Lakewood                  174,033.33   180,566.67
Virginia             Alexandria                180,233.33   182,566.67
Ohio                 Dayton                           nan          nan
Arizona              Yuma                       93,166.67    93,400.00
California           Sunnyvale                 488,733.33   535,800.00
                     Visalia                   112,166.67   115,833.33
New Mexico           Las Cruces                108,400.00   108,866.67
South Carolina       Charleston                144,400.00   149,233.33
Texas                Pasadena                   72,700.00    72,166.67
Connecticut          Bridgeport                101,966.67   106,666.67
Oregon               Eugene                    141,700.00   142,100.00
California           Escondido                 187,766.67   196,300.00
Texas                Midland                    91,166.67    90,600.00
Delaware             Newark                    128,033.33   129,366.67
Texas                Round Rock                139,833.33   139,600.00
Virginia             Hampton                    85,066.67    85,900.00
California           Pasadena                  259,800.00   266,900.00
                     Torrance                  313,733.33   321,333.33
South Carolina       Columbia                   96,533.33    98,166.67
Texas                Mesquite                   93,200.00    92,800.00
California           Fullerton                 242,733.33   252,000.00
Michigan             Warren                    122,833.33   125,166.67
Texas                McKinney                  161,433.33   159,933.33
Utah                 West Valley City          138,800.00   139,833.33
Washington           Renton                    199,533.33   203,233.33
Ohio                 Canton                     84,533.33    85,200.00
Louisiana            Metairie                         nan          nan
California           Santa Maria               156,000.00   160,866.67
                     Inglewood                 165,033.33   168,466.67
                     Orange                    255,133.33   261,766.67
Connecticut          New Haven                  92,066.67    93,766.67
Georgia              Cumming                   189,666.67   193,533.33
Michigan             Flint                      52,466.67    52,800.00
California           Compton                   128,100.00   130,466.67
Texas                McAllen                    72,266.67    72,600.00
Washington           Bellevue                  295,866.67   300,700.00
Michigan             Saginaw                    62,133.33    62,166.67
Indiana              Bloomington               115,533.33   115,900.00
Kansas               Olathe                           nan          nan
Florida              Miramar                   116,366.67   119,833.33
Arizona              Queen Creek               120,133.33   131,033.33
Florida              Coral Springs             147,266.67   151,066.67
California           East Los Angeles          138,900.00   143,600.00
Ohio                 Hamilton                  113,133.33   115,166.67
Connecticut          Hartford                   63,533.33    64,900.00
                     Stamford                  286,566.67   295,800.00
Georgia              Savannah                   79,300.00    78,933.33
California           Simi Valley               233,200.00   239,066.67
                     Concord                   223,966.67   237,433.33
Michigan             Sterling Heights          162,333.33   165,766.67
New Jersey           Elizabeth                 145,333.33   148,833.33
Texas                Frisco                    203,966.67   202,800.00
Illinois             Joliet                     99,566.67   100,533.33
Texas                Carrollton                131,700.00   131,933.33
Montana              Billings                  103,866.67   104,300.00
Pennsylvania         Allentown                  66,700.00    67,066.67
New Mexico           Santa Fe                  177,300.00   180,966.67
California           Vallejo                   159,400.00   169,500.00
Missouri             Independence                     nan          nan
California           Santa Clara               401,166.67   435,866.67
North Carolina       Cary                      202,933.33   204,033.33
Texas                Cypress                   138,433.33   137,333.33
Arizona              Surprise                  139,233.33   141,366.67
California           Berkeley                  395,633.33   431,033.33
                     Hemet                     108,766.67   110,466.67
Oklahoma             Norman                     87,200.00    88,200.00
Virginia             Falls Church              193,333.33   200,433.33
Illinois             Springfield                85,433.33    87,233.33
Louisiana            Lake Charles               85,400.00    85,566.67
Texas                Denton                    119,433.33   121,366.67
California           Downey                    206,533.33   211,933.33
Colorado             Thornton                  168,466.67   174,400.00
Maryland             Frederick                 145,000.00   147,733.33
Colorado             Westminster               167,300.00   173,000.00
Michigan             Lansing                    71,100.00    73,066.67
California           Victorville               106,633.33   108,800.00
Connecticut          Waterbury                  86,333.33    87,600.00
Florida              New Port Richey            83,233.33    84,666.67
California           Temecula                  210,600.00   216,533.33
Florida              Miami Gardens              85,333.33    87,066.67
California           Costa Mesa                279,333.33   289,700.00
Georgia              Athens                    100,200.00   101,366.67
...                                                   ...          ...
Arkansas             Elkins                     81,866.67    83,100.00
Illinois             Valmeyer                   97,433.33    98,900.00
Maryland             Clements                  139,800.00   139,900.00
Pennsylvania         Flying Hills               91,433.33    92,400.00
New York             Mayville                  120,400.00   121,000.00
Florida              Key Colony Beach          220,433.33   234,800.00
                     Tangelo Park               61,533.33    60,733.33
Wisconsin            Cleveland                  99,166.67   101,533.33
California           Fawnskin                  144,500.00   143,566.67
Arkansas             Cave Springs              120,166.67   122,333.33
Florida              Big Coppitt Key           204,766.67   218,200.00
Wisconsin            Denmark                    86,200.00    91,233.33
Maryland             Ridge                     149,500.00   150,233.33
Florida              Cortez                    163,300.00   163,300.00
Washington           Pacific Beach             121,400.00   135,066.67
New York             Churchville                92,033.33    92,466.67
New Jersey           Collings Lakes                   nan          nan
Arizona              Forest Lakes              134,900.00   136,000.00
Washington           Mattawa                          nan          nan

In [142]:
from scipy import stats
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    houses= convert_housing_data_to_quarters()
    university_towns= get_list_of_university_towns()
    university_towns['Unitown'] = True
    
    start=get_recession_start()
    bottom=get_recession_bottom()
    end=get_recession_end()
    houses['decline_growth']=houses[start]-houses[bottom]
    houses=houses.reset_index()
    house_in_unitown = pd.merge(houses, university_towns, how='inner',on = ['State', 'RegionName'])
    houses = pd.merge(houses, house_in_unitown, how='outer', on = ['State', 'RegionName','decline_growth'])
    #print(houses)
    houses['Unitown'] = houses['Unitown'].fillna(False)
       
    unitowns = houses[houses['Unitown'] == True]
    no_unitowns = houses[houses['Unitown'] == False]
    
    t, p = ttest_ind(unitowns['decline_growth'].dropna(), no_unitowns['decline_growth'].dropna())

    better = "university town" if unitowns['decline_growth'].mean() < no_unitowns['decline_growth'].mean() else "non-university town"    
    result=(p<0.01,p,better)
    #print(A.info())
    return result
run_ttest()

(True, 0.0043252148535112009, 'university town')